<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<style>
    body {
        background-color: #e9e8e8;
        font-family: Nunito, sans-serif;
    }
    
    footer {
        position: fixed;
        bottom: 0;
        text-align: center;
        background: #212529;
        color: white;
        padding: 15px;
        width: 100%;
    }
    
    .footer a {
        text-decoration: none;
        color: white;
    }
    
    .navbar {
        justify-content: space-around;
    }
</style>
<nav class="navbar navbar-dark bg-success">
    <a class="navbar-brand" style="text-align: center;" href="/">Thankyou for donating</a>
</nav>
<style>
    .github-corner:hover .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
    
    @keyframes octocat-wave {
        0%,
        100% {
            transform: rotate(0)
        }
        20%,
        60% {
            transform: rotate(-25deg)
        }
        40%,
        80% {
            transform: rotate(10deg)
        }
    }
    
    @media (max-width:500px) {
        .github-corner:hover .octo-arm {
            animation: none
        }
        .github-corner .octo-arm {
            animation: octocat-wave 560ms ease-in-out
        }
    }
</style>
<div class="my-5">
    <div style="width: 510px; margin: auto" class="card">
        <div class="card-body">
            <center>
                <h2>Payment Status</h2>
            </center>
            <div>
                <form action="/api/transaction/create-transaction" method="post">
                    <table class="table table-borderless">
                        <tr>
                            <th>TXNID: </th>
                            <td>
                                <%= data.TXNID %>
                            </td>
                            <tr>
                                <th>BANKTXNID: </th>
                                <td>
                                    <%= data.BANKTXNID %>
                                </td>
                            </tr>
                            <tr>
                                <th>TXNAMOUNT: </th>
                                <td>
                                    <%= data.TXNAMOUNT %>
                                </td>
                            </tr>
                            <tr>
                                <th>BANKNAME: </th>
                                <td>
                                    <%= data.BANKNAME %>
                                </td>
                            </tr>
                            <tr>
                                <th>GATEWAYNAME: </th>
                                <td>
                                    <%= data.GATEWAYNAME %>
                                </td>
                            </tr>
                            <tr>
                                <th>STATUS: </th>
                                <td>
                                    <%= data.STATUS %>
                                </td>
                            </tr>
                            <tr>
                                <th>RESPCODE: </th>
                                <td>
                                    <%= data.RESPCODE %>
                                </td>
                            </tr>
                            <tr>
                                <th>RESPMSG: </th>
                                <td>
                                    <%= data.RESPMSG %>
                                </td>
                            </tr>
                            <tr>
                                <th>TXNDATE: </th>
                                <td>
                                    <%= data.TXNDATE %>
                                </td>
                            </tr>
                    </table>
                    <div class="form-group">
                        <button class="btn form-control btn-primary">Proceed</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <footer class="footer" ">
<div>
    <button id="post-btn ">Proceed</button>
    <!-- Made by 
    <a href="https://amljs.github.io " target="_blank ">Amal Jose</a> -->
</div>
</footer> -->